.printBPMain.yjs{
  padding:0 40px;
  .signature p{
    padding-right: 80px;
    &.time{padding-right: 62px}
  }
}
.printMain {
  p {
    line-height: 2.5;
    font-size: 14px;
  }
  &~.printMain {
    margin-top: 70px;
  }
  .printCon {
    min-height: 5em;
    text-indent: 2em;
    margin: 10px 0 30px 0;
    line-height: 28px;
    div:not(.el-input) {
      padding: 0 60px;
      border-bottom: 1px solid black;
      display: inline;
    }
  }
  .signature {
    text-align: right;
    p {
      padding-right: 120px;
    }
  }
}
