/* 常量 */

// 颜色
$publicBgColor: #fff; // 背景颜色
$mdBorderColor: #f3f3f4; // 边框颜色
$mdHoverColor: #20a0ff; // hover字体颜色
// 浏览器
$scrollWidth: 16px; // 滚动条大小
// 边框
$mdBorderSize: 5px; // 边框大小
$smallBorderSize: 3px; // 小边框大小
// 内边距
$paddingSize: 20px; // 内边距大小
$smallPaddingSize: 10px; // 小内边距大小
// 外边距
$marginSize:10px; // 外边距大小
$smallMarginSize: 4px; // 小外边距大小
// 头像
$userPicWH: 120px;
