.loading-indicator-bars {
    /*background-image: url('https://raw.githubusercontent.com/riverbed/flyscript-portal/master/thirdparty/showLoading/images/loading-bars.gif');*/
    width: 150px;
}

.loading-indicator {
    height: 80px;
    width: 80px;
    background: url( 'loading.gif' );
    background-repeat: no-repeat;
    background-position: center center;
}

.loading-indicator-overlay {
    background-color: #FFFFFF;
    opacity: 0.2;
    filter: alpha(opacity = 20);
}
